<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="asb_robot">
<!--  <xacro:arg name="prefix" default="" />-->
  <xacro:arg name="test" default="false" />

  <xacro:include filename="$(find asb_ros2_control)/urdf/asb_description.urdf.xacro" />
  <xacro:include filename="$(find asb_ros2_control)/urdf/asb.materials.xacro" />
  <xacro:include filename="$(find asb_ros2_control)/ros2_control/asb.ros2_control.xacro" />

  <xacro:asb_description />
<!--  <xacro:asb prefix="$(arg prefix)" />-->

  <xacro:asb_ros2_control name="asb" test="$(arg test)" />

</robot>
