<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="asb_ros2_control" params="name prefix test">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>asb_ros2_control/ASBSystemHardware</plugin>
        <param name="canopen_node_config">$(find asb_ros2_control)/config/GCU.dcf</param>
        <xacro:if value="${test}">
          <param name="can_interface_name">vcan0</param>
        </xacro:if>
        <xacro:unless value="${test}">
          <param name="can_interface_name">can0</param>
        </xacro:unless>
        <param name="tracks_maximum_velocity_rpm">2400</param>
        <param name="left_track_joint_name">left_wheel_joint</param>
        <param name="right_track_joint_name">right_wheel_joint</param>
      </hardware>
      <joint name="left_wheel_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <command_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <command_interface name="velocity"/>
      </joint>
      <gpio name="control_system_state">
        <state_interface name="vcu_comm_ok"/>
        <state_interface name="vcu_safety_status"/>
        <state_interface name="control_mode"/>
        <state_interface name="software_emergency_stop"/>
        <command_interface name="set_software_emergency_stop"/>

        <state_interface name="left_motor_controller_temperature"/>
        <state_interface name="left_motor_temperature"/>
        <state_interface name="left_motor_battery_current"/>

        <state_interface name="right_motor_controller_temperature"/>
        <state_interface name="right_motor_temperature"/>
        <state_interface name="right_motor_battery_current"/>

        <state_interface name="fan_motor_rpm"/>
        <state_interface name="fan_motor_controller_temperature"/>
        <state_interface name="fan_motor_temperature"/>
        <state_interface name="fan_motor_battery_current"/>
      </gpio>

    </ros2_control>

  </xacro:macro>

</robot>
